/* Modular Scale
  -----------------------

// http://modularscale.com/scale/?px1=16&px2=30&ra1=1.618&ra2=0

// 16px  @ 1:1.618 - base font size
// 30px  @ 1:1.618 - logo font size

$scale18:   54.432em
$scale17:   46.971em
$scale16:   33.641em
$scale15:   29.03em
$scale14:   20.792em
$scale13:   17.942em
$scale12:   12.85em
$scale11:   11.089em
$scale10:   7.942em
$scale9:    6.854em
$scale8:    4.909em
$scale7:    4.236em
$scale6:    3.034em
$scale5:    2.618em
$scale4c:   2em + .443
$scale4b:   2em
$scale4:    1.875em
$scale3:    1.618em
$scale2c:   1em + .443
$scale2b:   1em + .382
$scale2:    1.159em
$scale1:    1em
$scale-2:   0.716em
$scale-3:   0.618em
$scale-4:   0.443em
$scale-5:   0.382em
$scale-6:   0.274em
$scale-7:   0.236em
$scale-8:   0.169em
$scale-9:   0.146em
$scale-10:  0.105em
$scale-11:  0.09em
$scale-12:  0.065em


/* Fonts
  -----------------------

// stacks...

// http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/

$arial:               Arial, "Helvetica Neue", Helvetica, sans-serif
$helvetica:           "Helvetica Neue", "Helvetica", Arial, sans-serif
$verdana:             Verdana, Geneva, Tahoma, sans-serif
$geneva:              Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif
$georgia:             Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif

// google web fonts...

// http://designshack.net/articles/css/10-great-google-font-combinations-you-can-copy/
// http://designshack.net/articles/typography/10-more-great-google-font-combinations-you-can-copy/

// $cantata:             "Cantata One", Georgia, serif
// $imprima:             Imprima, Verdana, Helvetica, sans-serif

// $allerta:             Allerta, Helvetica, Arial, sans-serif
// $crimson:             Crimson Text, Georgia, Times, serif

// $arvo:                Arvo, Georgia, Times, serif
// $pt-sans:             "PT Sans", Helvetica, Arial, sans-serif

// $pt-serif:            "PT Serif", serif

$droid-serif:         "Droid Serif", Georgia, Times, serif
$droid-sans:          "Droid Sans", Helvetica, Arial, sans-serif

// embedded fonts...

// @font-face
//   font-family: 'FONT_NAME'
//   font-weight: normal
//   font-style: normal
//   src: font-url('FONT_NAME.eot')
//   src: font-url('FONT_NAME.eot?#iefix') format("embedded-opentype"), font-url('FONT_NAME.svg#FONT_NAME') format("svg"), font-url('FONT_NAME.woff') format("woff"), font-url('FONT_NAME.ttf') format("truetype")

// typekit...



// base definitions...

$base-font-family:    $droid-sans       !default
$base-font-size:      100%              !default
$base-line-height:    1.4               !default

// font family...

$font-family-header:  $droid-serif      !default
$font-family-nav:     $droid-serif      !default
$font-family-button:  $droid-serif      !default

// non-google web fonts alternativ:
// $font-family-header:  $georgia          !default
// $font-family-nav:     $georgia          !default
// $font-family-button:  $georgia          !default

// icon fonts...

// @font-face
//   font-family: 'icon-fonts'
//   font-weight: normal
//   font-style: normal
//   src: font-url('icon-fonts.eot')
//   src: font-url('icon-fonts.eot?#iefix') format("embedded-opentype"), font-url('icon-fonts.svg#icon-fonts') format("svg"), font-url('icon-fonts.woff') format("woff"), font-url('icon-fonts.ttf') format("truetype")


/* Colors
  -----------------------

// color palette...

/* EXAMPLE: https://kuler.adobe.com/#themeID/2291686

$color-1:           #3e454c
$color-2:           #2185c5
$color-3:           #7ecefd
$color-4:           #fff6e5
$color-5:           #ff7f66

// background...

$bg-body:           #fff
$bg-container:      #fff
$bg-header:         #fff
$bg-nav:            #fff
$bg-footer:         #fff

// fonts...

$base-font-color:   #444         !default
$color-header:      #222         !default

$font-white:        #fff
$font-gray:         #999
$font-black:        #000

// color palette alternative:
// $base-font-color:   lighten($color-1, 10)  !default
// $color-header:      $color-1               !default
// $font-white:        #fff
// $font-gray:         lighten($color-1, 40)

// links...

$color-logo:        darken($color-2, 10)
$color-nav:         darken($color-2, 10)

$link-normal:       darken($color-2, 10)
$link-hover:        lighten($color-2, 10)
$link-active:       darken($color-2, 10)
$link-visited:      darken($color-2, 10)
$link-focus:        darken($color-2, 10)

// common alternative:
// $link-normal:       #0645ad
// $link-hover:        #3366bb
// $link-active:       #669934
// $link-visited:      #7f007f
// $link-focus:        #669934

// buttons...

$color-button:      $font-gray
$color-button-font: $font-white

// miscellaneous...

$color-ruler:       #ddd
$color-spacer:      #fff
$color-highlight:   #00b5f1
$color-border:      #c3c3c3

// alerts...

$info-lgt:          #eaeff5
$info-drk:          #33689a
$success-lgt:       #f4f7f0
$success-drk:       #669934
$warning-lgt:       #ffffd9
$warning-drk:       #cc682a
$error-lgt:         #f9eae5
$error-drk:         #cf3303

// KEY: 1. lgt-blu, 2. drk-blu, 3. lgt-grn, 4. drk-grn,
//      5. lgt-ylo, 6. drk-orj, 7. lgt-red, 8. drk-red
