/* Image Replacement
  -----------------------

.ir
  background-color: transparent
  background-repeat: no-repeat
  border: 0
  direction: ltr
  display: block
  overflow: hidden
  text-align: left
  text-indent: -999em

.ir br
  display: none


/* Icon Fonts
  -----------------------

[data-icon]:before
  +data-icon

.screen-reader-text
  position: absolute
  top: -9999px
  left: -9999px


.screen-reader-text-left
  position: absolute
  left: -9999px


.screen-reader-text-right
  position: absolute
  right: -9999px


/* Tables
  -----------------------

// to help tables remember to inherit

table
  font-size: inherit
  font: 100%

td
  vertical-align: top


/* Horizontal Ruler
  -----------------------

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid $ruler
  margin: 1em 0
  padding: 0


/* Other
  -----------------------

.nobold
  font-weight: normal

.block
  display: block

.inline
  +inline-block

.nowrap
  white-space: nowrap

.overflow
  overflow: hidden

.hide
  +hide

.reveal-hidden
  +reveal-hidden

.reveal-hidden-inline
  +reveal-hidden-inline

/* positioning

.clear
  clear: both

.rgt, .tar
  text-align: right !important

.lft, .tal
  text-align: left !important

.ctr, .tac
  text-align: center !important

.center
  margin: 0 auto

.right
  float: right !important

.left
  float: left !important

.nofloat
  float: none

.vtop
  vertical-align: top

.vbot
  vertical-align: bottom

.vmid
  vertical-align: middle

/* padding and margins

.nopad
  padding: 0 !important

.nopad-top
  padding-top: 0 !important

.nopad-bottom
  padding-bottom: 0 !important

.nomarg
  margin: 0 !important

.nomarg-top
  margin-top: 0 !important

.nomarg-bottom
  margin-bottom: 0 !important
